# Set-Up

In [51]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##### Passe diesen Code basierend auf deiner PostgresSQL Konfiguration an:

In [52]:
%sql postgresql://thierrysuhner:1234@localhost:5432/airportmanagementsystem

# Datanbank – Erstellung der Relationen

#### nutztAbflugGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

In [53]:
%%sql 
CREATE TABLE nutztAbflugGate (
    FlugID INT NOT NULL,
    GateID INT NOT NULL,
    Nutzungsbeginn TIMESTAMP NOT NULL,
    Nutzungsende TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, GateID),
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### nutztAnkunftGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

In [54]:
%%sql 

CREATE TABLE nutztAnkunftGate(
    FlugID INT NOT NULL,
    GateID INT NOT NULL,
    Nutzungsbeginn TIMESTAMP NOT NULL,
    Nutzungsende TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, GateID), 
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
)

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### durchgeführtIn(**KontrolleID**, **TerminalID**)

In [55]:
%%sql 
CREATE TABLE durchgeführtIn (
    KontrolleID INT NOT NULL,
    TerminalID  INT NOT NULL,
    PRIMARY KEY (KontrolleID, TerminalID),
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID),
    FOREIGN KEY (TerminalID)  REFERENCES Terminal(TerminalID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### aufgegebenFür(**GepäckID**, **FlugID**, Gepäckstatus)
- `CHECK Gepäckstatus = {"Aufgegeben","Verladen","Angekommen","Abgeholt","Unbekannt"} DEFAULT "Aufgegeben"`

In [56]:
%%sql 
CREATE TABLE aufgegebenFuer (
    GepaeckID     INT NOT NULL,
    FlugID       INT NOT NULL,
    Gepaeckstatus VARCHAR(20) NOT NULL DEFAULT 'Aufgegeben',
    PRIMARY KEY (GepaeckID, FlugID),
    FOREIGN KEY (GepaeckID) REFERENCES Gepaeck(GepaeckID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    CHECK (Gepaeckstatus IN ('Aufgegeben', 'Verladen', 'Angekommen', 'Abgeholt', 'Unbekannt'))
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### landetIn(**FlugID**, **IATACode**)

In [57]:
%%sql 
CREATE TABLE landetIn (
    FlugID   INT NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### startetVon(**FlugID**, **IATACode**)

In [58]:
%%sql 
CREATE TABLE startetVon (
    FlugID   INT NOT NULL,
    IATACode VARCHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### nutztPisteLandung(**FlugID**, **PistenID**, Ankunftsslot)

In [59]:
%%sql 
CREATE TABLE nutztPisteLandung (
    FlugID       INT NOT NULL,
    PistenID     INT NOT NULL,
    Ankunftsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### nutztPisteStart(**FlugID**, **PistenID**, Abflugsslot)

In [60]:
%%sql 
CREATE TABLE nutztPisteStart (
    FlugID      INT NOT NULL,
    PistenID    INT NOT NULL,
    Abflugsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### zugeordnetZu(**GateID**, **TerminalID**)

In [61]:
%%sql 
CREATE TABLE zugeordnetZu (
    GateID     INT NOT NULL,
    TerminalID INT NOT NULL,
    PRIMARY KEY (GateID, TerminalID),
    FOREIGN KEY (GateID)     REFERENCES Gate(GateID),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### hatGepäck(**PassagierID**, **GepäckID**)

In [62]:
%%sql 
CREATE TABLE hatGepaeck (
    PassagierID INT NOT NULL,
    GepaeckID    INT NOT NULL,
    PRIMARY KEY (PassagierID, GepaeckID),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (GepaeckID)    REFERENCES Gepaeck(GepaeckID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### bucht(**TicketNummer**, PassagierID, FlugID, Buchungsklasse, BuchungsStatus, SitzplatzNummer)
- `CHECK Buchungsklasse = ([A-Z])`
- `CHECK BuchungsStatus = {"Gebucht", "Bestätigt", "Annuliert"} DEFAULT "Gebucht"`
- `CHECK SitzplatzNummer = ([0-9]{1,2}[A-Z])`

In [63]:
%%sql 
CREATE TABLE bucht (
    TicketNummer    VARCHAR(50) NOT NULL,
    PassagierID     INT NOT NULL,
    FlugID          INT NOT NULL,
    Buchungsklasse  CHAR(1) NOT NULL,
    BuchungsStatus  VARCHAR(20) NOT NULL DEFAULT 'Gebucht',
    SitzplatzNummer VARCHAR(4) NOT NULL,
    PRIMARY KEY (TicketNummer),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (FlugID)      REFERENCES Flug(FlugID),
    CHECK (Buchungsklasse ~ '^[A-Z]$'),
    CHECK (BuchungsStatus IN ('Gebucht', 'Bestätigt', 'Annuliert')),
    CHECK (SitzplatzNummer ~ '^[0-9]{{1,2}}[A-Z]$')
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### arbeitetAn(**MitarbeiterID**, **IATACode**, MitarbeiterStatus, Arbeitsbeginn, Arbeitsende, Jobtitel)
- `CHECK MitarbeiterStatus = {"Anwesend","Remote","Krank","Urlaub","Entlassen"} DEFAULT "Anwesend"`
- `Arbeitsbeginn DATE DEFAULT CURRENT_DATE`
- `Arbeitsende DATE`

In [64]:
%%sql 
CREATE TABLE arbeitetAn (
    MitarbeiterID     INT       NOT NULL,
    IATACode          CHAR(3)   NOT NULL,
    MitarbeiterStatus VARCHAR(30) NOT NULL DEFAULT 'Anwesend',
    Arbeitsbeginn     DATE      NOT NULL DEFAULT CURRENT_DATE,
    Arbeitsende       DATE,
    Jobtitel          VARCHAR(50) NOT NULL,
    PRIMARY KEY (MitarbeiterID, IATACode),
    FOREIGN KEY (MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID),
    FOREIGN KEY (IATACode)      REFERENCES Flughafen(IATACode),
    CHECK (MitarbeiterStatus IN ('Anwesend','Remote','Krank','Urlaub','Entlassen'))
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### StellflächeIstBesetztVon(**StellflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

In [65]:
%%sql 
CREATE TABLE StellflaecheIstBesetztVon (
    StellflaechenID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (StellflaechenID, FlaechennutzerID),
    FOREIGN KEY (StellflaechenID)  REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### LadenflächeIstBesetztVon(**LadenflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

In [66]:
%%sql 
CREATE TABLE LadenflaecheIstBesetztVon (
    LadenflaecheID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (LadenflaecheID, FlaechennutzerID),
    FOREIGN KEY (LadenflaecheID)  REFERENCES Ladenflaeche(LadenflaecheID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### wirdVermarktetVon(**IATACode**, **FlugID**, istDurchführendeAirline)
- `istDurchführendeAirline BOOLEAN DEFAULT TRUE`

In [67]:
%%sql 
CREATE TABLE wirdVermarktetVon (
    IATACode                CHAR(3)  NOT NULL,
    FlugID                  INT      NOT NULL,
    istDurchführendeAirline BOOLEAN  NOT NULL DEFAULT TRUE,
    PRIMARY KEY (IATACode, FlugID),
    FOREIGN KEY (IATACode) REFERENCES Airline(IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### betreibtIn(**IATACode**, **TerminalID**)

In [68]:
%%sql 
CREATE TABLE betreibtIn (
    IATACode   CHAR(3) NOT NULL,
    TerminalID INT     NOT NULL,
    PRIMARY KEY (IATACode, TerminalID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### parkingIstTeilVon(**ParkhausID**, **IATACode**)

In [69]:
%%sql 
CREATE TABLE parkingIstTeilVon (
    ParkhausID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (ParkhausID, IATACode),
    FOREIGN KEY (ParkhausID) REFERENCES Parking(ParkhausID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### pisteIstTeilVon(**PistenID**, **IATACode**)

In [70]:
%%sql
CREATE TABLE pisteIstTeilVon (
    PistenID INT     NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (PistenID, IATACode),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### terminalIstTeilVon(**TerminalID**, **IATACode**)

In [71]:
%%sql 
CREATE TABLE terminalIstTeilVon (
    TerminalID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (TerminalID, IATACode),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### fahrzeugIstTeilVon(**FahrzeugID**, **IATACode**)

In [72]:
%%sql 
CREATE TABLE fahrzeugIstTeilVon (
    FahrzeugID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (FahrzeugID, IATACode),
    FOREIGN KEY (FahrzeugID) REFERENCES Fahrzeug(FahrzeugID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### ladenflächeIstTeilVon(**LadenflächenID**, **IATACode**)

In [73]:
%%sql 
CREATE TABLE ladenflaecheIstTeilVon (
    LadenflaecheID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (LadenflaecheID, IATACode),
    FOREIGN KEY (LadenflaecheID) REFERENCES Ladenflaeche(LadenflaecheID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### stellflächeIstTeilVon(**StellflächenID**, **IATACode**)

In [74]:
%%sql 
CREATE TABLE stellflaecheIstTeilVon (
    StellflaechenID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (StellflaechenID, IATACode),
    FOREIGN KEY (StellflaechenID) REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

In [75]:
# Verbindung schliessen
%sql --disconnect

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem