# Set-Up

In [1]:
%reload_ext sql

### Change this according to your postgres

In [2]:
%sql postgresql://thierrysuhner:1234@localhost:5432/airportmanagementsystem

# Datenbank – Erstellung der Entitäten

### Übersicht: Datenbankschema

#### Airline(**IATACode**, Name, Ursprungsland)
- `CHECK IATACode = ([A-Z]{3})`

#### Terminal(**TerminalID**, TerminalNummer, StündlicheKapazität)

#### Stellfläche(**StellflächenID**, Stellflächennummer, StellflächenKategorie, Fläche)

#### Passagier(**PassagierID**, Geburtsdatum, Vorname, Nachname)
- `CHECK Geburtsdatum = ([0-9]{2}.[0-9]{2}.[0-9]{4})`

#### Reisedokument(**ReisedokumentNummer**, *PassagierID*, Typ)
- `CHECK Typ = {"ID", "Pass"}`

#### Flughafen(**IATACode**, Name, Land, Stadt)

#### Kontrolle(**KontrolleID**, KontrolleNummer, StündlicheKapazität)

#### SecurityKontrolle(**KontrolleID**, eingesetzteScanner)
- `CHECK eingesetzteScanner = {"2D","3D"}`
- `DEFAULT "2D"`

#### Zollkontrolle(**KontrolleID**)

#### Passkontrolle(**KontrolleID**, automatisiert)
- `automatisiert BOOLEAN DEFAULT FALSE`

#### Flug(**FlugID**, FlugNummer, Flugzeugtyp, geplanteAbflugszeit, geplanteAnkunftszeit)

#### Piste(**PistenID**, PistenNummer, Länge, Breite, PistenStatus, Oberflächenart, ILSKategorie)
- `CHECK PistenStatus = {"gesperrt", "in Wartung", "frei", "besetzt"}`
- `CHECK Oberflächenart = {"Gras","Asphalt"} DEFAULT "Asphalt"`
- `CHECK ILSKategorie >= 1 AND <= 3`

#### Gate(**GateID**, GateNummer, GateKategorie, GateStatus)
- `CHECK GateNummer = ([A-Z][0-9]{2})`
- `CHECK GateKategorie = {"Jetway","Bus","Fuss"}`
- `CHECK GateStatus = {"gesperrt", "frei", "besetzt"}`

#### Mitarbeiter(**MitarbeiterID**, Vorname, Nachname, Geburtsdatum, Strasse, Postleitzahl, Ort)
- `CHECK Geburtsdatum = ([0-9]{2}.[0-9]{2}.[0-9]{4})`

#### MitarbeiterTelefon(**Telefonnummer**, *MitarbeiterID*, Typ)

#### Flächennutzer(**FlächennutzerID**, Name, FlächennutzerKategorie, Strasse, Postleitzahl, Ort, KontaktTelefonnumer)

#### Fahrzeug(**FahrzeugID**, FahrzeugStatus, Herstellungsjahr, Fahrzeugtyp, Nummernschild)
- `CHECK FahrzeugStatus = {"in Nutzung", "einsatzfähig", "in Wartung"} DEFAULT "einsatzfähig"`
- `CHECK Herstellungsjahr = ([0-9]{4})`

#### Parking(**ParkhausID**, ParkhausNummer, ParkhausKategorie, AnzahlPlätze, DistanzZumFlughafen, Auslastung)
- `CHECK 0 <= Auslastung <= 100`
- `CHECK ParkhausKategorie = {"Kurzzeit","Langzeit","Valet","Spezial"}`

#### Ladenfläche(**LadenflächeID**, Fläche, LadenflächeKategorie, LadenflächeNummer)

#### Gepäck(**GepäckID**, GepäckKategorie, Gewicht)
- `CHECK GepäckKategorie = {"Handgepäck klein", "Handgepäck gross", "Aufgabegepäck", "Sperrgut"}`
- `Gewicht INT`

---

### Beziehungen

#### nutztAbflugGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

#### nutztAnkunftGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

#### durchgeführtIn(**KontrolleID**, **TerminalID**)

#### aufgegebenFür(**GepäckID**, **FlugID**, Gepäckstatus)
- `CHECK Gepäckstatus = {"Aufgegeben","Verladen","Angekommen","Abgeholt","Unbekannt"} DEFAULT "Aufgegeben"`

#### landetIn(**FlugID**, **IATACode**)

#### startetVon(**FlugID**, **IATACode**)

#### nutztPisteLandung(**FlugID**, **PistenID**, Ankunftsslot)

#### nutztPisteStart(**FlugID**, **PistenID**, Abflugsslot)

#### zugeordnetZu(**GateID**, **TerminalID**)

#### hatGepäck(**PassagierID**, **GepäckID**)

#### bucht(**PassagierID**, **FlugID**, TicketNummer, Buchungsklasse, BuchungsStatus, SitzplatzNummer)
- `CHECK Buchungsklasse = ([A-Z])`
- `CHECK BuchungsStatus = {"Gebucht", "Bestätigt", "Annuliert"} DEFAULT "Gebucht"`
- `CHECK SitzplatzNummer = ([0-9]{1,2}[A-Z])`

#### arbeitetAn(**MitarbeiterID**, **IATACode**, MitarbeiterStatus, Arbeitsbeginn, Arbeitsende, Jobtitel)
- `CHECK MitarbeiterStatus = {"Anwesend","Remote","Krank","Urlaub","Entlassen"} DEFAULT "Anwesend"`
- `Arbeitsbeginn DATE DEFAULT CURRENT_DATE`
- `Arbeitsende DATE`

#### StellflächeIstBesetztVon(**StellflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

#### LadenflächeIstBesetztVon(**LadenflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

#### wirdVermarktetVon(**IATACode**, **FlugID**, istDurchführendeAirline)
- `istDurchführendeAirline BOOLEAN DEFAULT TRUE`

#### betreibtIn(**IATACode**, **TerminalID**)

#### parkingIstTeilVon(**ParkhausID**, **IATACode**)

#### pisteIstTeilVon(**PistenID**, **IATACode**)

#### terminalIstTeilVon(**TerminalID**, **IATACode**)

#### fahrzeugIstTeilVon(**FahrzeugID**, **IATACode**)

#### ladenflächeIstTeilVon(**LadenflächenID**, **IATACode**)

#### stellflächeIstTeilVon(**StellflächenID**, **IATACode**)

### Code zur Erstellung der Relationen

#### Airline(**IATACode**, Name, Ursprungsland)
- `CHECK IATACode = ([A-Z]{3})`

In [3]:
%%sql
CREATE TABLE Airline(
    IATACode VARCHAR(3) PRIMARY KEY,
    Name VARCHAR(100) NOT NULL,
    Ursprungsland VARCHAR(50) NOT NULL,
    CONSTRAINT chk_iata CHECK (IATACode ~ '^[A-Z]{{2,3}}$')
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Terminal(**TerminalID**, TerminalNummer, StündlicheKapazität)

In [4]:
%%sql
CREATE TABLE Terminal(
    TerminalID SERIAL PRIMARY KEY,
    TerminalNummer VARCHAR(10) NOT NULL,
    StuendlicheKapazitaet INT NOT NULL CHECK (StuendlicheKapazitaet > 0)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Stellfläche(**StellflächenID**, Stellflächennummer, StellflächenKategorie, Fläche)

In [5]:
%%sql

CREATE TABLE Stellflaeche (
    StellflaechenID SERIAL PRIMARY KEY,
    StellflaechenNummer VARCHAR(10) NOT NULL,
    StellflaechenKategorie VARCHAR(50) NOT NULL,
    Flaeche NUMERIC(10,2) NOT NULL CHECK (Flaeche > 0)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Passagier(**PassagierID**, Geburtsdatum, Vorname, Nachname)
- `CHECK Geburtsdatum = ([0-9]{2}.[0-9]{2}.[0-9]{4})`

In [6]:
%%sql

CREATE TABLE Passagier (
    PassagierID SERIAL PRIMARY KEY,
    Geburtsdatum DATE NOT NULL,
    Vorname VARCHAR(50) NOT NULL,
    Nachname VARCHAR(50) NOT NULL
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

**Achtung, Abweichung zu Relationenschema:** Da PostgreSQL DATE intern bereits als Datum speichert, müssen wir hier keinen CHECK mehr machen, das DATE Format reicht.

#### Reisedokument(**ReisedokumentNummer**, *PassagierID*, Typ)
- `CHECK Typ = {"ID", "Pass"}`

In [7]:
%%sql

CREATE TABLE Reisedokument (
    ReisedokumentNummer VARCHAR(20) PRIMARY KEY,
    PassagierID INT NOT NULL,
    Typ VARCHAR(10) NOT NULL CHECK (Typ IN ('ID', 'Pass')),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Flughafen(**IATACode**, Name, Land, Stadt)

In [8]:
%%sql
CREATE TABLE Flughafen (
    IATACode VARCHAR(3) PRIMARY KEY,
    Name VARCHAR(100) NOT NULL,
    Land VARCHAR(50) NOT NULL,
    Stadt VARCHAR(50) NOT NULL,
    CONSTRAINT chk_iata CHECK (IATACode ~ '^[A-Z]{{3}}$')
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Kontrolle(**KontrolleID**, KontrolleNummer, StündlicheKapazität)

In [9]:
%%sql

CREATE TABLE Kontrolle (
    KontrolleID SERIAL PRIMARY KEY,
    KontrolleNummer VARCHAR(10) NOT NULL,
    StuendlicheKapazitaet INT NOT NULL CHECK (StuendlicheKapazitaet > 0)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### SecurityKontrolle(**KontrolleID**, eingesetzteScanner)
- `CHECK eingesetzteScanner = {"2D","3D"}`
- `DEFAULT "2D"`

In [10]:
%%sql

CREATE TABLE SecurityKontrolle (
    KontrolleID INT PRIMARY KEY,
    eingesetzteScanner VARCHAR(2) NOT NULL DEFAULT '2D' CHECK (eingesetzteScanner IN ('2D', '3D')),
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Zollkontrolle(**KontrolleID**)

In [11]:
%%sql

CREATE TABLE Zollkontrolle (
    KontrolleID INT PRIMARY KEY,
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Passkontrolle(**KontrolleID**, automatisiert)
- `automatisiert BOOLEAN DEFAULT FALSE`

In [12]:
%%sql

CREATE TABLE Passkontrolle (
    KontrolleID INT PRIMARY KEY,
    automatisiert BOOLEAN NOT NULL DEFAULT FALSE,
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Flug(**FlugID**, FlugNummer, Flugzeugtyp, geplanteAbflugszeit, geplanteAnkunftszeit)

In [13]:
%%sql

CREATE TABLE Flug (
    FlugID SERIAL PRIMARY KEY,
    FlugNummer VARCHAR(10) NOT NULL,
    Flugzeugtyp VARCHAR(50) NOT NULL,
    GeplanteAbflugszeit TIMESTAMP NOT NULL,
    GeplanteAnkunftszeit TIMESTAMP NOT NULL
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Piste(**PistenID**, PistenNummer, Länge, Breite, PistenStatus, Oberflächenart, ILSKategorie)
- `CHECK PistenStatus = {"gesperrt", "in Wartung", "frei", "besetzt"}`
- `CHECK Oberflächenart = {"Gras","Asphalt"} DEFAULT "Asphalt"`
- `CHECK ILSKategorie >= 1 AND <= 3`

In [14]:
%%sql

CREATE TABLE Piste (
    PistenID SERIAL PRIMARY KEY,
    PistenNummer VARCHAR(10) NOT NULL,
    Laenge NUMERIC(6,2) NOT NULL CHECK (Laenge > 0),
    PistenStatus VARCHAR(20) NOT NULL CHECK (PistenStatus IN ('gesperrt', 'in Wartung', 'frei', 'besetzt')),
    Oberflaechenart VARCHAR(10) NOT NULL DEFAULT 'Asphalt' CHECK (Oberflaechenart IN ('Gras','Asphalt')),
    ILSKategorie INT NOT NULL CHECK (ILSKategorie >= 1 AND ILSKategorie <= 3)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Gate(**GateID**, GateNummer, GateKategorie, GateStatus)
- `CHECK GateNummer = ([A-Z][0-9]{2})`
- `CHECK GateKategorie = {"Jetway","Bus","Fuss"}`
- `CHECK GateStatus = {"gesperrt", "frei", "besetzt"}`

In [15]:
%%sql
CREATE TABLE Gate (
    GateID SERIAL PRIMARY KEY,
    GateNummer VARCHAR(3) NOT NULL CHECK (GateNummer ~ '^[A-Z][0-9]{{1,3}}$'),
    GateKategorie VARCHAR(10) NOT NULL CHECK (GateKategorie IN ('Jetway','Bus','Fuss')),
    GateStatus VARCHAR(10) NOT NULL CHECK (GateStatus IN ('gesperrt','frei','besetzt'))
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Mitarbeiter(**MitarbeiterID**, Vorname, Nachname, Geburtsdatum, Strasse, Postleitzahl, Ort)
- `CHECK Geburtsdatum = ([0-9]{2}.[0-9]{2}.[0-9]{4})`

In [16]:
%%sql

CREATE TABLE Mitarbeiter (
    MitarbeiterID SERIAL PRIMARY KEY,
    Vorname VARCHAR(50) NOT NULL,
    Nachname VARCHAR(50) NOT NULL,
    Geburtsdatum DATE NOT NULL,
    Strasse VARCHAR(100) NOT NULL,
    Postleitzahl VARCHAR(10) NOT NULL,
    Ort VARCHAR(50) NOT NULL
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

**Auch hier kein CHECK wegen dem DATE-Format**

#### MitarbeiterTelefon(**Telefonnummer**, *MitarbeiterID*, Typ)

In [17]:
%%sql

CREATE TABLE MitarbeiterTelefon (
    Telefonnummer VARCHAR(20) PRIMARY KEY,
    MitarbeiterID INT NOT NULL,
    Typ VARCHAR(20),
    FOREIGN KEY (MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Flächennutzer(**FlächennutzerID**, Name, FlächennutzerKategorie, Strasse, Postleitzahl, Ort, KontaktTelefonnumer)

In [18]:
%%sql

CREATE TABLE Flaechennutzer (
    FlaechennutzerID SERIAL PRIMARY KEY,
    Name VARCHAR(100) NOT NULL,
    FlaechennutzerKategorie VARCHAR(50) NOT NULL,
    Strasse VARCHAR(100) NOT NULL,
    Postleitzahl VARCHAR(10) NOT NULL,
    Ort VARCHAR(50) NOT NULL,
    KontaktTelefonnummer VARCHAR(20)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Fahrzeug(**FahrzeugID**, FahrzeugStatus, Herstellungsjahr, Fahrzeugtyp, Nummernschild)
- `CHECK FahrzeugStatus = {"in Nutzung", "einsatzfähig", "in Wartung"} DEFAULT "einsatzfähig"`
- `CHECK Herstellungsjahr = ([0-9]{4})`

In [19]:
%%sql
CREATE TABLE Fahrzeug (
    FahrzeugID SERIAL PRIMARY KEY,
    FahrzeugStatus VARCHAR(20) NOT NULL DEFAULT 'einsatzfähig' 
        CHECK (FahrzeugStatus IN ('in Nutzung', 'einsatzfähig', 'in Wartung')),
    Herstellungsjahr VARCHAR(4) NOT NULL CHECK (Herstellungsjahr ~ '[0-9]{{4}}$'),
    Fahrzeugtyp VARCHAR(50) NOT NULL,
    Nummernschild VARCHAR(20) NOT NULL
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Parking(**ParkhausID**, ParkhausNummer, ParkhausKategorie, AnzahlPlätze, DistanzZumFlughafen, Auslastung)
- `CHECK 0 <= Auslastung <= 100`
- `CHECK ParkhausKategorie = {"Kurzzeit","Langzeit","Valet","Spezial"}`

In [20]:
%%sql

CREATE TABLE Parking (
    ParkhausID SERIAL PRIMARY KEY,
    ParkhausNummer VARCHAR(10) NOT NULL,
    ParkhausKategorie VARCHAR(20) NOT NULL 
        CHECK (ParkhausKategorie IN ('Kurzzeit','Langzeit','Valet','Spezial')),
    AnzahlPlaetze INT NOT NULL CHECK (AnzahlPlaetze > 0),
    DistanzZumFlughafen NUMERIC(6,2) NOT NULL CHECK (DistanzZumFlughafen >= 0),
    Auslastung NUMERIC(5,2) NOT NULL CHECK (Auslastung >= 0 AND Auslastung <= 100)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Ladenfläche(**LadenflächeID**, Fläche, LadenflächeKategorie, LadenflächeNummer)

In [21]:
%%sql

CREATE TABLE Ladenflaeche (
    LadenflaecheID SERIAL PRIMARY KEY,
    Flaeche NUMERIC(10,2) NOT NULL CHECK (Flaeche > 0),
    LadenflaecheKategorie VARCHAR(50) NOT NULL,
    LadenflaecheNummer VARCHAR(10) NOT NULL
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

#### Gepäck(**GepäckID**, GepäckKategorie, Gewicht)
- `CHECK GepäckKategorie = {"Handgepäck klein", "Handgepäck gross", "Aufgabegepäck", "Sperrgut"}`
- `Gewicht INT`

In [22]:
%%sql

CREATE TABLE Gepaeck (
    GepaeckID SERIAL PRIMARY KEY,
    GepaeckKategorie VARCHAR(30) NOT NULL 
        CHECK (GepaeckKategorie IN ('Handgepaeck klein','Handgepaeck gross','Aufgabegepaeck','Sperrgut')),
    Gewicht INT NOT NULL CHECK (Gewicht >= 0)
);

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
Done.

[]

In [23]:
# Trennt Verbindung 
%sql --disconnect

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem