# Set-Up

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Change this according to your postgres

In [6]:
%sql postgresql://karlaruggaber:1234@localhost:5432/postgres

Traceback (most recent call last):
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 143, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ~~~~~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 3301, in raw_connection
    return self.pool.connect()
           ~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 447, in connect
    return _ConnectionFairy._checkout(self)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 1264, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 711, in checkout
    rec = pool._do_get()
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/impl.py", line 177, in _do_get
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/util/langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/impl.py", line 175, in _do_get
    return self._create_connection()
           ~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 388, in _create_connection
    return _ConnectionRecord(self)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 673, in __init__
    self.__connect()
    ~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 899, in __connect
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/util/langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 895, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/create.py", line 661, in connect
    return dialect.connect(*cargs, **cparams)
           ~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/default.py", line 629, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)  # type: ignore[no-any-return]  # NOQA: E501
           ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
psycopg2.OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  role "karlaruggaber" does not exist


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
        connect_str,
    ...<2 lines>...
        creator=args.creator,
    )
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sql/connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 3277, in connect
    return self._connection_cls(self)
           ~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 145, in __init__
    Connection._handle_dbapi_exception_noconnection(
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        err, dialect, engine
        ^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 2440, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 143, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ~~~~~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/base.py", line 3301, in raw_connection
    return self.pool.connect()
           ~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 447, in connect
    return _ConnectionFairy._checkout(self)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 1264, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 711, in checkout
    rec = pool._do_get()
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/impl.py", line 177, in _do_get
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/util/langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/impl.py", line 175, in _do_get
    return self._create_connection()
           ~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 388, in _create_connection
    return _ConnectionRecord(self)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 673, in __init__
    self.__connect()
    ~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 899, in __connect
    with util.safe_reraise():
         ~~~~~~~~~~~~~~~~~^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/util/langhelpers.py", line 224, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/pool/base.py", line 895, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/create.py", line 661, in connect
    return dialect.connect(*cargs, **cparams)
           ~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/sqlalchemy/engine/default.py", line 629, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)  # type: ignore[no-any-return]  # NOQA: E501
           ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^
  File "/Users/thierrysuhner/Library/CloudStorage/OneDrive-UniversitaetSt.Gallen/3. Semester/Datenbanken/Project/git-repo/airport-database/.venv/lib/python3.13/site-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  role "karlaruggaber" does not exist

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://thierrysuhner:***@localhost:5432/postgres'])

# Datanbank – Erstellung der Relationen

#### nutztAbflugGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

In [7]:
%%sql 
CREATE TABLE nutztAbflugGate (
    FlugID INT NOT NULL,
    GateID INT NOT NULL,
    Nutzungsbeginn TIMESTAMP NOT NULL,
    Nutzungsende TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, GateID),
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### nutztAnkunftGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

In [30]:
%%sql 

CREATE TABLE nutztAnkunftGate(
    FlugID INT NOT NULL,
    GateID INT NOT NULL,
    Nutzungsbeginn TIMESTAMP NOT NULL,
    Nutzungsende TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, GateID), 
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
)

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### durchgeführtIn(**KontrolleID**, **TerminalID**)

In [31]:
%%sql 
CREATE TABLE durchgeführtIn (
    KontrolleID INT NOT NULL,
    TerminalID  INT NOT NULL,
    PRIMARY KEY (KontrolleID, TerminalID),
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID),
    FOREIGN KEY (TerminalID)  REFERENCES Terminal(TerminalID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "durchgeführtin" already exists

[SQL: CREATE TABLE durchgeführtIn (
    KontrolleID INT NOT NULL,
    TerminalID  INT NOT NULL,
    PRIMARY KEY (KontrolleID, TerminalID),
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID),
    FOREIGN KEY (TerminalID)  REFERENCES Terminal(TerminalID)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### aufgegebenFür(**GepäckID**, **FlugID**, Gepäckstatus)
- `CHECK Gepäckstatus = {"Aufgegeben","Verladen","Angekommen","Abgeholt","Unbekannt"} DEFAULT "Aufgegeben"`

In [33]:
%%sql 
CREATE TABLE aufgegebenFuer (
    GepaeckID     INT NOT NULL,
    FlugID       INT NOT NULL,
    Gepaeckstatus VARCHAR(20) NOT NULL DEFAULT 'Aufgegeben',
    PRIMARY KEY (GepaeckID, FlugID),
    FOREIGN KEY (GepaeckID) REFERENCES Gepaeck(GepaeckID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    CHECK (Gepaeckstatus IN ('Aufgegeben', 'Verladen', 'Angekommen', 'Abgeholt', 'Unbekannt'))
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### landetIn(**FlugID**, **IATACode**)

In [34]:
%%sql 
CREATE TABLE landetIn (
    FlugID   INT NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "landetin" already exists

[SQL: CREATE TABLE landetIn (
    FlugID   INT NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### startetVon(**FlugID**, **IATACode**)

In [35]:
%%sql 
CREATE TABLE startetVon (
    FlugID   INT NOT NULL,
    IATACode VARCHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "startetvon" already exists

[SQL: CREATE TABLE startetVon (
    FlugID   INT NOT NULL,
    IATACode VARCHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### nutztPisteLandung(**FlugID**, **PistenID**, Ankunftsslot)

In [36]:
%%sql 
CREATE TABLE nutztPisteLandung (
    FlugID       INT NOT NULL,
    PistenID     INT NOT NULL,
    Ankunftsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "nutztpistelandung" already exists

[SQL: CREATE TABLE nutztPisteLandung (
    FlugID       INT NOT NULL,
    PistenID     INT NOT NULL,
    Ankunftsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### nutztPisteStart(**FlugID**, **PistenID**, Abflugsslot)

In [50]:
%%sql 
CREATE TABLE nutztPisteStart (
    FlugID      INT NOT NULL,
    PistenID    INT NOT NULL,
    Abflugsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "nutztpistestart" already exists

[SQL: CREATE TABLE nutztPisteStart (
    FlugID      INT NOT NULL,
    PistenID    INT NOT NULL,
    Abflugsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### zugeordnetZu(**GateID**, **TerminalID**)

In [38]:
%%sql 
CREATE TABLE zugeordnetZu (
    GateID     INT NOT NULL,
    TerminalID INT NOT NULL,
    PRIMARY KEY (GateID, TerminalID),
    FOREIGN KEY (GateID)     REFERENCES Gate(GateID),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "zugeordnetzu" already exists

[SQL: CREATE TABLE zugeordnetZu (
    GateID     INT NOT NULL,
    TerminalID INT NOT NULL,
    PRIMARY KEY (GateID, TerminalID),
    FOREIGN KEY (GateID)     REFERENCES Gate(GateID),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### hatGepäck(**PassagierID**, **GepäckID**)

In [42]:
%%sql 
CREATE TABLE hatGepaeck (
    PassagierID INT NOT NULL,
    GepaeckID    INT NOT NULL,
    PRIMARY KEY (PassagierID, GepaeckID),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (GepaeckID)    REFERENCES Gepaeck(GepaeckID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### bucht(**PassagierID**, **FlugID**, TicketNummer, Buchungsklasse, BuchungsStatus, SitzplatzNummer)
- `CHECK Buchungsklasse = ([A-Z])`
- `CHECK BuchungsStatus = {"Gebucht", "Bestätigt", "Annuliert"} DEFAULT "Gebucht"`
- `CHECK SitzplatzNummer = ([0-9]{1,2}[A-Z])`

In [43]:
%%sql 
CREATE TABLE bucht (
    PassagierID     INT NOT NULL,
    FlugID          INT NOT NULL,
    TicketNummer    VARCHAR(50) NOT NULL,
    Buchungsklasse  CHAR(1) NOT NULL,
    BuchungsStatus  VARCHAR(20) NOT NULL DEFAULT 'Gebucht',
    SitzplatzNummer VARCHAR(4) NOT NULL,
    PRIMARY KEY (PassagierID, FlugID),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (FlugID)      REFERENCES Flug(FlugID),
    CHECK (Buchungsklasse ~ '^[A-Z]$'),
    CHECK (BuchungsStatus IN ('Gebucht', 'Bestätigt', 'Annuliert')),
    CHECK (SitzplatzNummer ~ '^[0-9]{1,2}[A-Z]$')
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "bucht" already exists

[SQL: CREATE TABLE bucht (
    PassagierID     INT NOT NULL,
    FlugID          INT NOT NULL,
    TicketNummer    VARCHAR(50) NOT NULL,
    Buchungsklasse  CHAR(1) NOT NULL,
    BuchungsStatus  VARCHAR(20) NOT NULL DEFAULT 'Gebucht',
    SitzplatzNummer VARCHAR(4) NOT NULL,
    PRIMARY KEY (PassagierID, FlugID),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (FlugID)      REFERENCES Flug(FlugID),
    CHECK (Buchungsklasse ~ '^[A-Z]$'),
    CHECK (BuchungsStatus IN ('Gebucht', 'Bestätigt', 'Annuliert')),
    CHECK (SitzplatzNummer ~ '^[0-9](1, 2)[A-Z]$')
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### arbeitetAn(**MitarbeiterID**, **IATACode**, MitarbeiterStatus, Arbeitsbeginn, Arbeitsende, Jobtitel)
- `CHECK MitarbeiterStatus = {"Anwesend","Remote","Krank","Urlaub","Entlassen"} DEFAULT "Anwesend"`
- `Arbeitsbeginn DATE DEFAULT CURRENT_DATE`
- `Arbeitsende DATE`

In [45]:
%%sql 
CREATE TABLE arbeitetAn (
    MitarbeiterID     INT       NOT NULL,
    IATACode          CHAR(3)   NOT NULL,
    MitarbeiterStatus VARCHAR(30) NOT NULL DEFAULT 'Anwesend',
    Arbeitsbeginn     DATE      NOT NULL DEFAULT CURRENT_DATE,
    Arbeitsende       DATE,
    Jobtitel          VARCHAR(50) NOT NULL,
    PRIMARY KEY (MitarbeiterID, IATACode),
    FOREIGN KEY (MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID),
    FOREIGN KEY (IATACode)      REFERENCES Flughafen(IATACode),
    CHECK (MitarbeiterStatus IN ('Anwesend','Remote','Krank','Urlaub','Entlassen'))
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### StellflächeIstBesetztVon(**StellflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

In [46]:
%%sql 
CREATE TABLE StellflächeIstBesetztVon (
    StellflaechenID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (StellflaechenID, FlaechennutzerID),
    FOREIGN KEY (StellflaechenID)  REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "stellflächeistbesetztvon" already exists

[SQL: CREATE TABLE StellflächeIstBesetztVon (
    StellflaechenID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (StellflaechenID, FlaechennutzerID),
    FOREIGN KEY (StellflaechenID)  REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### LadenflächeIstBesetztVon(**LadenflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

In [20]:
%%sql 
CREATE TABLE LadenflaecheIstBesetztVon (
    LadenflaecheID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (LadenflaecheID, FlaechennutzerID),
    FOREIGN KEY (LadenflaecheID)  REFERENCES Ladenflaeche(LadenflaecheID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### wirdVermarktetVon(**IATACode**, **FlugID**, istDurchführendeAirline)
- `istDurchführendeAirline BOOLEAN DEFAULT TRUE`

In [21]:
%%sql 
CREATE TABLE wirdVermarktetVon (
    IATACode                CHAR(3)  NOT NULL,
    FlugID                  INT      NOT NULL,
    istDurchführendeAirline BOOLEAN  NOT NULL DEFAULT TRUE,
    PRIMARY KEY (IATACode, FlugID),
    FOREIGN KEY (IATACode) REFERENCES Airline(IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### betreibtIn(**IATACode**, **TerminalID**)

In [22]:
%%sql 
CREATE TABLE betreibtIn (
    IATACode   CHAR(3) NOT NULL,
    TerminalID INT     NOT NULL,
    PRIMARY KEY (IATACode, TerminalID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### parkingIstTeilVon(**ParkhausID**, **IATACode**)

In [23]:
%%sql 
CREATE TABLE parkingIstTeilVon (
    ParkhausID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (ParkhausID, IATACode),
    FOREIGN KEY (ParkhausID) REFERENCES Parking(ParkhausID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### pisteIstTeilVon(**PistenID**, **IATACode**)

In [24]:
%%sql
CREATE TABLE pisteIstTeilVon (
    PistenID INT     NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (PistenID, IATACode),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### terminalIstTeilVon(**TerminalID**, **IATACode**)

In [25]:
%%sql 
CREATE TABLE terminalIstTeilVon (
    TerminalID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (TerminalID, IATACode),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### fahrzeugIstTeilVon(**FahrzeugID**, **IATACode**)

In [26]:
%%sql 
CREATE TABLE fahrzeugIstTeilVon (
    FahrzeugID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (FahrzeugID, IATACode),
    FOREIGN KEY (FahrzeugID) REFERENCES Fahrzeug(FahrzeugID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]

#### ladenflächeIstTeilVon(**LadenflächenID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE ladenflaecheIstTeilVon (
    LadenflaecheID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (LadenflaecheID, IATACode),
    FOREIGN KEY (LadenflaecheID) REFERENCES Ladenflaeche(LadenflaecheID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "ladenflaecheistteilvon" already exists

[SQL: CREATE TABLE ladenflaecheIstTeilVon (
    LadenflaecheID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (LadenflaecheID, IATACode),
    FOREIGN KEY (LadenflaecheID) REFERENCES Ladenflaeche(LadenflaecheID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### stellflächeIstTeilVon(**StellflächenID**, **IATACode**)

In [28]:
%%sql 
CREATE TABLE stellflaecheIstTeilVon (
    StellflaechenID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (StellflaechenID, IATACode),
    FOREIGN KEY (StellflaechenID) REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);

 * postgresql://thierrysuhner:***@localhost:5432/postgres
Done.

[]