# Set-Up

In [4]:
%load_ext sql

### Change this according to your postgres

In [5]:
%sql postgresql://karlaruggaber:1234@localhost:5432/postgres

# Datanbank – Erstellung der Relationen

#### nutztAbflugGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

In [ ]:
%%sql 
CREATE TABLE nutztAbflugGate (
    FlugID INT NOT NULL,
    GateID INT NOT NULL,
    Nutzungsbeginn TIMESTAMP NOT NULL,
    Nutzungsende TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, GateID),
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
);

 * postgresql://karlaruggaber:***@localhost:5432/postgres
(psycopg2.errors.UndefinedTable) relation "flug" does not exist

[SQL: CREATE TABLE nutztAbflugGate (
    FlugID INT NOT NULL,
    GateID INT NOT NULL,
    Nutzungsbeginn TIMESTAMPTZ NOT NULL,
    Nutzungsende TIMESTAMPTZ NOT NULL,
    PRIMARY KEY (FlugID, GateID),
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### nutztAnkunftGate(**FlugID**, **GateID**, Nutzungsbeginn, Nutzungsende)

In [ ]:
%%sql nutztAnkunftGate(
    FlugID NOT NULL,
    GateID NOT NULL,
    Nutzungsbeginn TIMESTAMP NOT NULL,
    Nutzungsende TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, GateID), 
    FOREIGN KEY (FlugID) REFERENCES Flug(FlugID),
    FOREIGN KEY (GateID) REFERENCES Gate(GateID)
)

#### durchgeführtIn(**KontrolleID**, **TerminalID**)

In [ ]:
%%sql 
CREATE TABLE durchgeführtIn (
    KontrolleID INT NOT NULL,
    TerminalID  INT NOT NULL,
    PRIMARY KEY (KontrolleID, TerminalID),
    FOREIGN KEY (KontrolleID) REFERENCES Kontrolle(KontrolleID),
    FOREIGN KEY (TerminalID)  REFERENCES Terminal(TerminalID)
);

SyntaxError: invalid syntax (2616456517.py, line 1)

#### aufgegebenFür(**GepäckID**, **FlugID**, Gepäckstatus)
- `CHECK Gepäckstatus = {"Aufgegeben","Verladen","Angekommen","Abgeholt","Unbekannt"} DEFAULT "Aufgegeben"`

In [ ]:
%%sql 
CREATE TABLE aufgegebenFuer (
    GepaeckID     INT NOT NULL,
    FlugID       INT NOT NULL,
    Gepaeckstatus VARCHAR(20) NOT NULL DEFAULT 'Aufgegeben',
    PRIMARY KEY (GepäckID, FlugID),
    FOREIGN KEY (GepäckID) REFERENCES Gepaeck(GepaeckID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    CHECK (Gepaeckstatus IN ('Aufgegeben', 'Verladen', 'Angekommen', 'Abgeholt', 'Unbekannt'))
);

#### landetIn(**FlugID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE landetIn (
    FlugID   INT NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

#### startetVon(**FlugID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE startetVon (
    FlugID   INT NOT NULL,
    IATACode VARCHAR(3) NOT NULL,
    PRIMARY KEY (FlugID, IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

#### nutztPisteLandung(**FlugID**, **PistenID**, Ankunftsslot)

In [ ]:
%%sql 
CREATE TABLE nutztPisteLandung (
    FlugID       INT NOT NULL,
    PistenID     INT NOT NULL,
    Ankunftsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);

#### nutztPisteStart(**FlugID**, **PistenID**, Abflugsslot)

In [ ]:
%%sql 
CREATE TABLE nutztPisteStart (
    FlugID      INT NOT NULL,
    PistenID    INT NOT NULL,
    Abflugsslot TIMESTAMP NOT NULL,
    PRIMARY KEY (FlugID, PistenID),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID)
);

#### zugeordnetZu(**GateID**, **TerminalID**)

In [ ]:
%%sql 
CREATE TABLE zugeordnetZu (
    GateID     INT NOT NULL,
    TerminalID INT NOT NULL,
    PRIMARY KEY (GateID, TerminalID),
    FOREIGN KEY (GateID)     REFERENCES Gate(GateID),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);

#### hatGepäck(**PassagierID**, **GepäckID**)

In [ ]:
%%sql 
CREATE TABLE hatGepäck (
    PassagierID INT NOT NULL,
    GepäckID    INT NOT NULL,
    PRIMARY KEY (PassagierID, GepäckID),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (GepäckID)    REFERENCES Gepäck(GepäckID)
);

#### bucht(**PassagierID**, **FlugID**, TicketNummer, Buchungsklasse, BuchungsStatus, SitzplatzNummer)
- `CHECK Buchungsklasse = ([A-Z])`
- `CHECK BuchungsStatus = {"Gebucht", "Bestätigt", "Annuliert"} DEFAULT "Gebucht"`
- `CHECK SitzplatzNummer = ([0-9]{1,2}[A-Z])`

In [ ]:
%%sql 
CREATE TABLE bucht (
    PassagierID     INT NOT NULL,
    FlugID          INT NOT NULL,
    TicketNummer    VARCHAR(50) NOT NULL,
    Buchungsklasse  CHAR(1) NOT NULL,
    BuchungsStatus  VARCHAR(20) NOT NULL DEFAULT 'Gebucht',
    SitzplatzNummer VARCHAR(4) NOT NULL,
    PRIMARY KEY (PassagierID, FlugID),
    FOREIGN KEY (PassagierID) REFERENCES Passagier(PassagierID),
    FOREIGN KEY (FlugID)      REFERENCES Flug(FlugID),
    CHECK (Buchungsklasse ~ '^[A-Z]$'),
    CHECK (BuchungsStatus IN ('Gebucht', 'Bestätigt', 'Annuliert')),
    CHECK (SitzplatzNummer ~ '^[0-9]{1,2}[A-Z]$')
);

#### arbeitetAn(**MitarbeiterID**, **IATACode**, MitarbeiterStatus, Arbeitsbeginn, Arbeitsende, Jobtitel)
- `CHECK MitarbeiterStatus = {"Anwesend","Remote","Krank","Urlaub","Entlassen"} DEFAULT "Anwesend"`
- `Arbeitsbeginn DATE DEFAULT CURRENT_DATE`
- `Arbeitsende DATE`

In [ ]:
%%sql 
CREATE TABLE arbeitetAn (
    MitarbeiterID     INT       NOT NULL,
    IATACode          CHAR(3)   NOT NULL,
    MitarbeiterStatus NOT NULL DEFAULT 'Anwesend',
    Arbeitsbeginn     DATE      NOT NULL DEFAULT CURRENT_DATE,
    Arbeitsende       DATE,
    Jobtitel          NOT NULL,
    PRIMARY KEY (MitarbeiterID, IATACode),
    FOREIGN KEY (MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID),
    FOREIGN KEY (IATACode)      REFERENCES Flughafen(IATACode),
    CHECK (MitarbeiterStatus IN ('Anwesend','Remote','Krank','Urlaub','Entlassen'))
);

#### StellflächeIstBesetztVon(**StellflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

In [ ]:
%%sql 
CREATE TABLE StellflächeIstBesetztVon (
    StellflaechenID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (StellflaechenID, FlaechennutzerID),
    FOREIGN KEY (StellflaechenID)  REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);

#### LadenflächeIstBesetztVon(**LadenflächenID**, **FlächennutzerID**, Nutzungsbeginn, Nutzungsende)

In [ ]:
%%sql 
CREATE TABLE LadenflaecheIstBesetztVon (
    LadenflaecheID  INT NOT NULL,
    FlaechennutzerID INT NOT NULL,
    Nutzungsbeginn  TIMESTAMP NOT NULL,
    Nutzungsende    TIMESTAMP NOT NULL,
    PRIMARY KEY (LadenflaecheID, FlaechennutzerID),
    FOREIGN KEY (LadenflaecheID)  REFERENCES Ladenflaeche(LadenflaecheID),
    FOREIGN KEY (FlaechennutzerID) REFERENCES Flaechennutzer(FlaechennutzerID),
    CHECK (Nutzungsende > Nutzungsbeginn)
);

#### wirdVermarktetVon(**IATACode**, **FlugID**, istDurchführendeAirline)
- `istDurchführendeAirline BOOLEAN DEFAULT TRUE`

In [ ]:
%%sql 
CREATE TABLE wirdVermarktetVon (
    IATACode                CHAR(3)  NOT NULL,
    FlugID                  INT      NOT NULL,
    istDurchführendeAirline BOOLEAN  NOT NULL DEFAULT TRUE,
    PRIMARY KEY (IATACode, FlugID),
    FOREIGN KEY (IATACode) REFERENCES Airline(IATACode),
    FOREIGN KEY (FlugID)   REFERENCES Flug(FlugID)
);

#### betreibtIn(**IATACode**, **TerminalID**)

In [ ]:
%%sql 
CREATE TABLE betreibtIn (
    IATACode   CHAR(3) NOT NULL,
    TerminalID INT     NOT NULL,
    PRIMARY KEY (IATACode, TerminalID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID)
);

#### parkingIstTeilVon(**ParkhausID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE parkingIstTeilVon (
    ParkhausID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (ParkhausID, IATACode),
    FOREIGN KEY (ParkhausID) REFERENCES Parking(ParkhausID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

#### pisteIstTeilVon(**PistenID**, **IATACode**)

In [ ]:
%%sql
CREATE TABLE pisteIstTeilVon (
    PistenID INT     NOT NULL,
    IATACode CHAR(3) NOT NULL,
    PRIMARY KEY (PistenID, IATACode),
    FOREIGN KEY (PistenID) REFERENCES Piste(PistenID),
    FOREIGN KEY (IATACode) REFERENCES Flughafen(IATACode)
);

#### terminalIstTeilVon(**TerminalID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE terminalIstTeilVon (
    TerminalID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (TerminalID, IATACode),
    FOREIGN KEY (TerminalID) REFERENCES Terminal(TerminalID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

#### fahrzeugIstTeilVon(**FahrzeugID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE fahrzeugIstTeilVon (
    FahrzeugID INT     NOT NULL,
    IATACode   CHAR(3) NOT NULL,
    PRIMARY KEY (FahrzeugID, IATACode),
    FOREIGN KEY (FahrzeugID) REFERENCES Fahrzeug(FahrzeugID),
    FOREIGN KEY (IATACode)   REFERENCES Flughafen(IATACode)
);

#### ladenflächeIstTeilVon(**LadenflächenID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE ladenflaecheIstTeilVon (
    LadenflaechenID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (LadenflaechenID, IATACode),
    FOREIGN KEY (LadenflaechenID) REFERENCES Ladenflaeche(LadenflaechenID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);

#### stellflächeIstTeilVon(**StellflächenID**, **IATACode**)

In [ ]:
%%sql 
CREATE TABLE stellflaecheIstTeilVon (
    StellflaechenID INT     NOT NULL,
    IATACode       CHAR(3) NOT NULL,
    PRIMARY KEY (StellflaechenID, IATACode),
    FOREIGN KEY (StellflaechenID) REFERENCES Stellflaeche(StellflaechenID),
    FOREIGN KEY (IATACode)       REFERENCES Flughafen(IATACode)
);