# Set-Up

In [32]:
%reload_ext sql

##### Passe diesen Code basierend auf deiner PostgresSQL Konfiguration an:

In [33]:
%sql postgresql://thierrysuhner:1234@localhost:5432/airportmanagementsystem

# Queries

### 1. Überprüfung der jüngsten Nutzungshistorie eines bestimmten Gates

Dient dem Flughafenmanagement zur Analyse der Auslastung der letzten Zeit.

In [34]:
%%sql
WITH random_gate AS (
    SELECT GateID
    FROM nutztAbflugGate
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    f.FlugNummer,
    f.Flugzeugtyp,
    n.Nutzungsbeginn,
    n.Nutzungsende,
    g.GateID,
    g.GateNummer
FROM
    Flug f
JOIN
    nutztAbflugGate n ON f.FlugID = n.FlugID
JOIN
    Gate g ON n.GateID = g.GateID
JOIN
    random_gate r ON n.GateID = r.GateID
WHERE
    n.Nutzungsbeginn > (NOW() - INTERVAL '3 weeks')
ORDER BY
    n.Nutzungsbeginn;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
1 rows affected.

[('FL0099', 'Boeing 737', datetime.datetime(2025, 12, 13, 14, 51, 57, 538512), datetime.datetime(2025, 12, 13, 17, 51, 57, 538512), 588, 'Y88')]

### 2. Abwesenheiten an einem bestimmten Airport	

Identifizierung von Personalengpässen an einem bestimmten Standort.

In [35]:
%%sql
WITH random_iata AS (
    SELECT IATACode
    FROM arbeitetAn
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    m.Vorname,
    m.Nachname,
    a.MitarbeiterStatus,
    a.Jobtitel,
    a.IATACode
FROM
    Mitarbeiter m
JOIN
    arbeitetAn a ON m.MitarbeiterID = a.MitarbeiterID
JOIN
    random_iata r ON a.IATACode = r.IATACode
WHERE
    a.MitarbeiterStatus IN ('Krank', 'Urlaub')
ORDER BY
    a.MitarbeiterStatus,
    m.Nachname;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
1 rows affected.

[('Roderich', 'Juncken', 'Urlaub', 'Chirurgiemechaniker', 'BTC')]

### 3. Verfügbare Asphalt-Pistem an einem bestimmten Flughafen

Dient der Flugsicherung, landebereite Pisten schnell zu identifizieren.

In [36]:
%%sql
WITH random_iata AS (
    SELECT IATACode
    FROM Flughafen
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    p.PistenNummer,
    p.Oberflaechenart,
    p.Laenge,
    p.PistenStatus,
    pv.IATACode
FROM
    Piste p
JOIN
    pisteIstTeilVon pv ON p.PistenID = pv.PistenID
JOIN
    random_iata r ON pv.IATACode = r.IATACode
WHERE
    p.PistenStatus = 'frei'
    AND p.Oberflaechenart = 'Asphalt'
ORDER BY
    p.Laenge DESC;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
0 rows affected.

[]

### 4. Reisedetails eines Passagiers abrufen

Umfassende Übersicht über die Reisedetails eines einzelnen Passagiers, einschliesslich Buchungsinfos, Status seines aufgegebenen Gepäcks und Reisedokumenten.

In [37]:
%%sql

WITH random_passagier AS (
    SELECT PassagierID
    FROM Passagier
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT 
    p.PassagierID,
    p.Vorname,
    p.Nachname,
    r.ReisedokumentNummer,
    r.Typ AS ReisedokumentTyp,
    g.GepaeckID,
    g.GepaeckKategorie,
    g.Gewicht,
    f.FlugNummer,
    b.Buchungsklasse,
    b.SitzplatzNummer
FROM random_passagier rp
JOIN Passagier p ON rp.PassagierID = p.PassagierID
LEFT JOIN Reisedokument r ON p.PassagierID = r.PassagierID
LEFT JOIN hatGepaeck hg ON p.PassagierID = hg.PassagierID
LEFT JOIN Gepaeck g ON hg.GepaeckID = g.GepaeckID
LEFT JOIN bucht b ON p.PassagierID = b.PassagierID
LEFT JOIN Flug f ON b.FlugID = f.FlugID;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
3 rows affected.

[(497, 'Gisa', 'Hettner', '395656477Dv0', 'ID', 437, 'Aufgabegepaeck', 16, 'FL0097', 'B', '3E'),
 (497, 'Gisa', 'Hettner', '395656477Dv0', 'ID', 526, 'Handgepaeck gross', 1, 'FL0097', 'B', '3E'),
 (497, 'Gisa', 'Hettner', '395656477Dv0', 'ID', 588, 'Sperrgut', 20, 'FL0097', 'B', '3E')]

### 5. Prüfung der verfügbaren Maintenance-Stellflächen im nächsten Monat für einen bestimmten Flughafen

Essenziell für die Kapazitätsplanung und die Zuweisung von Wartungsflächen. Abfrage identifiziert alle Stellflächen, die in einem kritischen, zukünftigem Zeitraum (nächster Monat) verfügbar sein werden.

In [38]:
%%sql
WITH random_flughafen AS (
    SELECT IATACode
    FROM StellflaecheIstTeilVon
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    sf.StellflaechenNummer,
    sf.StellflaechenKategorie,
    sf.Flaeche,
    f.IATACode
FROM
    Stellflaeche sf
JOIN
    StellflaecheIstTeilVon f ON sf.StellflaechenID = f.StellflaechenID
JOIN
    random_flughafen r ON f.IATACode = r.IATACode
WHERE
    sf.StellflaechenKategorie = 'Maintenance'
    AND NOT EXISTS (
        SELECT 1
        FROM StellflaecheIstBesetztVon sb
        WHERE
            sb.StellflaechenID = sf.StellflaechenID
            AND sb.Nutzungsende > NOW() 
            AND sb.Nutzungsbeginn < (NOW() + INTERVAL '1 month')
    )
ORDER BY
    sf.StellflaechenNummer;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
2 rows affected.

[('S139', 'Maintenance', Decimal('553.27'), 'ANK'),
 ('S172', 'Maintenance', Decimal('3115.63'), 'ANK')]

### Nutzung der Infrastruktur durch einen Flug
Das Management möchte überprüfen, wie ein bestimmter Flug Gates, Terminal und Pisten nutzt.

In [39]:
%%sql
WITH random_flug AS (
    SELECT FlugID
    FROM Flug
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT 
    f.FlugNummer,
    f.Flugzeugtyp,
    tg.GateNummer AS AnkunftsGate,
    tg.GateKategorie AS AnkunftsGateKategorie,
    ts.TerminalNummer AS AnkunftsTerminal,
    pg.PistenNummer AS Landungspiste,
    ps.PistenNummer AS Startpiste
FROM random_flug rf
JOIN Flug f ON rf.FlugID = f.FlugID
LEFT JOIN nutztAnkunftGate nag ON f.FlugID = nag.FlugID
LEFT JOIN Gate tg ON nag.GateID = tg.GateID
LEFT JOIN zugeordnetZu tsz ON tg.GateID = tsz.GateID
LEFT JOIN Terminal ts ON tsz.TerminalID = ts.TerminalID
LEFT JOIN nutztPisteLandung ppl ON f.FlugID = ppl.FlugID
LEFT JOIN Piste pg ON ppl.PistenID = pg.PistenID
LEFT JOIN nutztPisteStart pps ON f.FlugID = pps.FlugID
LEFT JOIN Piste ps ON pps.PistenID = ps.PistenID;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
1 rows affected.

[('FL0056', 'Embraer 190', 'R37', 'Bus', 'T119', 'P55', 'P81')]

### Verfügbare Fahrzeuge an einem Flughafen
Zeigt der Verwaltung, welche Fahrzeuge noch zur Verfügung stehen an einem bestimmten Flughafen.

In [40]:
%%sql
-- Wähle einen zufälligen Flughafen
WITH random_flughafen AS (
    SELECT IATACode
    FROM Flughafen
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT 
    rf.IATACode,
    fl.FahrzeugID,
    fl.Fahrzeugtyp,
    fl.FahrzeugStatus,
    fl.Herstellungsjahr,
    fl.Nummernschild
FROM random_flughafen rf
JOIN fahrzeugIstTeilVon fi ON rf.IATACode = fi.IATACode
JOIN Fahrzeug fl ON fi.FahrzeugID = fl.FahrzeugID
WHERE fl.FahrzeugStatus = 'einsatzfähig';

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
3 rows affected.

[('PFE', 430, 'Gepäckschlepper', 'einsatzfähig', '2012', 'RV-TX-71'),
 ('PFE', 454, 'Tankfahrzeug', 'einsatzfähig', '2019', 'HU-O-92'),
 ('PFE', 578, 'Tankfahrzeug', 'einsatzfähig', '2016', 'AW-ZA-259')]

### Zugehörige Parkhäuser eines FLughafens

In [50]:
%%sql
WITH random_flughafen AS (
    SELECT iatacode
    FROM flughafen
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT 
    p.parkhausnummer,
    p.parkhauskategorie,
    p.anzahlplaetze,
    p.distanzzumflughafen,
    p.auslastung,
    f.name AS flughafen_name,
    f.stadt,
    f.land
FROM random_flughafen rf
JOIN parkingistteilvon pi ON rf.iatacode = pi.iatacode
JOIN parking p ON pi.parkhausid = p.parkhausid
JOIN flughafen f ON rf.iatacode = f.iatacode;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
4 rows affected.

[('P108', 'Spezial', 211, Decimal('2.34'), Decimal('71.89'), 'Strasburg International Airport', 'Bad Kissingen', 'Uruguay'),
 ('P27', 'Valet', 4997, Decimal('2.32'), Decimal('85.93'), 'Strasburg International Airport', 'Bad Kissingen', 'Uruguay'),
 ('P195', 'Valet', 2889, Decimal('0.90'), Decimal('17.51'), 'Strasburg International Airport', 'Bad Kissingen', 'Uruguay'),
 ('P109', 'Kurzzeit', 4957, Decimal('0.22'), Decimal('45.26'), 'Strasburg International Airport', 'Bad Kissingen', 'Uruguay')]