In [3]:
%reload_ext sql

In [4]:
%sql postgresql://thierrysuhner:1234@localhost:5432/airportmanagementsystem

### 1. Überprüfung der jüngsten Nutzungshistorie eines bestimmten Gates

In [27]:
%%sql
WITH random_gate AS (
    SELECT GateID
    FROM nutztAbflugGate
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    f.FlugNummer,
    f.Flugzeugtyp,
    n.Nutzungsbeginn,
    n.Nutzungsende,
    g.GateID,
    g.GateNummer
FROM
    Flug f
JOIN
    nutztAbflugGate n ON f.FlugID = n.FlugID
JOIN
    Gate g ON n.GateID = g.GateID
JOIN
    random_gate r ON n.GateID = r.GateID
WHERE
    n.Nutzungsbeginn > (NOW() - INTERVAL '3 weeks')
ORDER BY
    n.Nutzungsbeginn;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
3 rows affected.

[('FL0178', 'Embraer 190', datetime.datetime(2025, 12, 13, 4, 44, 18, 239428), datetime.datetime(2025, 12, 13, 5, 44, 18, 239428), 174, 'H70'),
 ('FL0063', 'Boeing 737', datetime.datetime(2025, 12, 13, 5, 44, 18, 224877), datetime.datetime(2025, 12, 13, 7, 44, 18, 224877), 174, 'H70'),
 ('FL0148', 'Embraer 190', datetime.datetime(2025, 12, 13, 10, 44, 18, 235790), datetime.datetime(2025, 12, 13, 12, 44, 18, 235790), 174, 'H70')]

### 2. Abwesenheiten an einem bestimmten Airport	

Identifizierung von Personalengpässen an einem bestimmten Standort.

In [11]:
%%sql
WITH random_iata AS (
    SELECT IATACode
    FROM arbeitetAn
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    m.Vorname,
    m.Nachname,
    a.MitarbeiterStatus,
    a.Jobtitel,
    a.IATACode
FROM
    Mitarbeiter m
JOIN
    arbeitetAn a ON m.MitarbeiterID = a.MitarbeiterID
JOIN
    random_iata r ON a.IATACode = r.IATACode
WHERE
    a.MitarbeiterStatus IN ('Krank', 'Urlaub')
ORDER BY
    a.MitarbeiterStatus,
    m.Nachname;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
2 rows affected.

[('Adrian', 'Hande', 'Krank', 'Florist', 'IXY'),
 ('Ferdi', 'Hauffer', 'Urlaub', 'Mathematiker', 'IXY')]

### 3. Verfügbare Asphalt-Pistem an einem bestimmten Flughafen

Dient der Flugsicherung, landebereite Pisten schnell zu identifizieren.

In [14]:
%%sql
WITH random_iata AS (
    SELECT IATACode
    FROM Flughafen
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    p.PistenNummer,
    p.Oberflaechenart,
    p.Laenge,
    p.PistenStatus,
    pv.IATACode
FROM
    Piste p
JOIN
    pisteIstTeilVon pv ON p.PistenID = pv.PistenID
JOIN
    random_iata r ON pv.IATACode = r.IATACode
WHERE
    p.PistenStatus = 'frei'
    AND p.Oberflaechenart = 'Asphalt'
ORDER BY
    p.Laenge DESC;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
1 rows affected.

[('P09', 'Asphalt', Decimal('3893.24'), 'frei', 'EWH')]

### 4. Gepäck- und Flugdetails eines Passagiers abrufen

Umfassende Übersicht über die Reisedetails eines einzelnen Passagiers, einschliesslich Buchungsinfos und dem Status seines aufgegebenen Gepäcks.

In [15]:
%%sql
WITH random_passagier AS (
    SELECT PassagierID
    FROM Passagier
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    p.Vorname,
    p.Nachname,
    f.FlugNummer,
    g.GepaeckKategorie,
    g.Gewicht,
    af.Gepaeckstatus,
    b.SitzplatzNummer,
    b.BuchungsStatus,
    p.PassagierID
FROM
    Passagier p
JOIN
    bucht b ON p.PassagierID = b.PassagierID
JOIN
    Flug f ON b.FlugID = f.FlugID
LEFT JOIN
    hatGepaeck hg ON p.PassagierID = hg.PassagierID
LEFT JOIN
    Gepaeck g ON hg.GepaeckID = g.GepaeckID
LEFT JOIN
    aufgegebenFuer af ON g.GepaeckID = af.GepaeckID AND f.FlugID = af.FlugID
JOIN
    random_passagier r ON p.PassagierID = r.PassagierID
ORDER BY
    f.GeplanteAbflugszeit;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
1 rows affected.

[('Birgit', 'Schmiedecke', 'FL0144', 'Sperrgut', 24, None, '3B', 'Bestätigt', 35)]

### 5. Prüfung der verfügbaren Maintenance-Stellflächen im nächsten Monat für einen bestimmten Flughafen

Essenziell für die Kapazitätsplanung und die Zuweisung von Wartungsflächen. Abfrage identifiziert alle Stellflächen, die in einem kritischen, zukünftigem Zeitraum (nächster Monat) verfügbar sein werden.

In [21]:
%%sql
WITH random_flughafen AS (
    SELECT IATACode
    FROM StellflaecheIstTeilVon
    ORDER BY RANDOM()
    LIMIT 1
)
SELECT
    sf.StellflaechenNummer,
    sf.StellflaechenKategorie,
    sf.Flaeche,
    f.IATACode
FROM
    Stellflaeche sf
JOIN
    StellflaecheIstTeilVon f ON sf.StellflaechenID = f.StellflaechenID
JOIN
    random_flughafen r ON f.IATACode = r.IATACode
WHERE
    sf.StellflaechenKategorie = 'Maintenance'
    AND NOT EXISTS (
        SELECT 1
        FROM StellflaecheIstBesetztVon sb
        WHERE
            sb.StellflaechenID = sf.StellflaechenID
            AND sb.Nutzungsende > NOW() 
            AND sb.Nutzungsbeginn < (NOW() + INTERVAL '1 month')
    )
ORDER BY
    sf.StellflaechenNummer;

 * postgresql://thierrysuhner:***@localhost:5432/airportmanagementsystem
4 rows affected.

[('S052', 'Maintenance', Decimal('2071.20'), 'ROB'),
 ('S056', 'Maintenance', Decimal('4131.05'), 'ROB'),
 ('S160', 'Maintenance', Decimal('4752.28'), 'ROB'),
 ('S199', 'Maintenance', Decimal('3169.49'), 'ROB')]