In [10]:
%sql postgresql://thierrysuhner:1234@localhost:5432/postgres

### 1. Überprüfung der jüngsten Nutzungshistorie eines bestimmten Gates

In [25]:
%%sql
SELECT
    f.FlugNummer,
    f.Flugzeugtyp,
    n.Nutzungsbeginn,
    n.Nutzungsende
FROM
    Flug f
JOIN
    nutztAbflugGate n ON f.FlugID = n.FlugID
WHERE
    n.GateID = 303
    AND n.Nutzungsbeginn > (NOW() - INTERVAL '3 weeks')
ORDER BY
    n.Nutzungsbeginn;

 * postgresql://thierrysuhner:***@localhost:5432/postgres
1 rows affected.

[('FL0045', 'Airbus A320', datetime.datetime(2025, 12, 9, 2, 59, 24, 257488), datetime.datetime(2025, 12, 9, 3, 59, 24, 257488))]

### 2. Abwesenheiten am Hnfeld International Airport	

Identifizierung von Personalengpässen an einem bestimmten Standort.

In [34]:
%%sql 

SELECT
    m.Vorname,
    m.Nachname,
    a.MitarbeiterStatus,
    a.Jobtitel
FROM
    Mitarbeiter m
JOIN
    arbeitetAn a ON m.MitarbeiterID = a.MitarbeiterID
WHERE
    a.IATACode = 'IDW'
    AND a.MitarbeiterStatus IN ('Krank', 'Urlaub')
ORDER BY
    a.MitarbeiterStatus, m.Nachname;

 * postgresql://thierrysuhner:***@localhost:5432/postgres
2 rows affected.

[('Ilonka', 'Hartmann', 'Krank', 'Erzieher'),
 ('Ester', 'Wiek', 'Krank', 'Krankenschwester')]

### 3. Verfügbare Pistem am Flughafen Werdau

Dient der Flugsicherung, landebereite Pisten schnell zu identifizieren.

In [48]:
%%sql

SELECT
    p.PistenNummer,
    p.Oberflaechenart,
    p.Laenge,
    p.PistenStatus
FROM
    Piste p
JOIN
    pisteIstTeilVon pv ON p.PistenID = pv.PistenID
WHERE
    pv.IATACode = 'GBJ'
    AND p.PistenStatus = 'frei'
    AND p.Oberflaechenart = 'Asphalt'
ORDER BY
    p.Laenge DESC;

 * postgresql://thierrysuhner:***@localhost:5432/postgres
1 rows affected.

[('P04', 'Asphalt', Decimal('4310.31'), 'frei')]

### 4. Gepäck- und Flugdetails eines Passagiers abrufen

Umfassende Übersicht über die Reisedetails eines einzelnen Passagiers, einschliesslich Buchungsinfos und dem Status seines aufgegebenen Gepäcks.

In [54]:
%%sql

SELECT
    p.Vorname,
    p.Nachname,
    f.FlugNummer,
    g.GepaeckKategorie,
    g.Gewicht,
    af.Gepaeckstatus,
    b.SitzplatzNummer,
    b.BuchungsStatus
FROM
    Passagier p
JOIN
    bucht b ON p.PassagierID = b.PassagierID
JOIN
    Flug f ON b.FlugID = f.FlugID
LEFT JOIN
    hatGepaeck hg ON p.PassagierID = hg.PassagierID
LEFT JOIN
    Gepaeck g ON hg.GepaeckID = g.GepaeckID
LEFT JOIN
    aufgegebenFuer af ON g.GepaeckID = af.GepaeckID AND f.FlugID = af.FlugID
WHERE
    p.PassagierID = 757
ORDER BY
    f.GeplanteAbflugszeit;

 * postgresql://thierrysuhner:***@localhost:5432/postgres
4 rows affected.

[('Felix', 'Mühle', 'FL0045', 'Sperrgut', 18, None, '10B', 'Gebucht'),
 ('Felix', 'Mühle', 'FL0045', 'Handgepaeck klein', 25, None, '10B', 'Gebucht'),
 ('Felix', 'Mühle', 'FL0057', 'Sperrgut', 18, None, '47C', 'Annuliert'),
 ('Felix', 'Mühle', 'FL0057', 'Handgepaeck klein', 25, None, '47C', 'Annuliert')]

### 5. Prüfung der verfügbaren Maintenance-Stellflächen im nächsten Monat

Essenziell für die Kapazitätsplanung und die Zuweisung von Wartungsflächen. Abfrage identifiziert alle Stellflächen, die in einem kritischen, zukünftigem Zeitraum (nächster Monat) verfügbar sein werden.

In [56]:
%%sql
SELECT
    sf.StellflaechenNummer,
    sf.StellflaechenKategorie,
    sf.Flaeche
FROM
    Stellflaeche sf
WHERE
    sf.StellflaechenKategorie = 'Maintenance'
    AND NOT EXISTS (
        SELECT 1
        FROM StellflaecheIstBesetztVon sb
        WHERE
            sb.StellflaechenID = sf.StellflaechenID
            AND sb.Nutzungsende > NOW() 
            AND sb.Nutzungsbeginn < (NOW() + INTERVAL '1 month')
    )
ORDER BY
    sf.StellflaechenNummer;

 * postgresql://thierrysuhner:***@localhost:5432/postgres
48 rows affected.

[('S002', 'Maintenance', Decimal('913.60')),
 ('S002', 'Maintenance', Decimal('4515.41')),
 ('S003', 'Maintenance', Decimal('3544.81')),
 ('S003', 'Maintenance', Decimal('1537.76')),
 ('S004', 'Maintenance', Decimal('4885.33')),
 ('S008', 'Maintenance', Decimal('4490.00')),
 ('S010', 'Maintenance', Decimal('4207.28')),
 ('S010', 'Maintenance', Decimal('698.71')),
 ('S011', 'Maintenance', Decimal('1704.83')),
 ('S012', 'Maintenance', Decimal('2501.28')),
 ('S012', 'Maintenance', Decimal('4541.33')),
 ('S015', 'Maintenance', Decimal('2928.11')),
 ('S017', 'Maintenance', Decimal('4501.83')),
 ('S019', 'Maintenance', Decimal('3081.61')),
 ('S021', 'Maintenance', Decimal('1322.27')),
 ('S022', 'Maintenance', Decimal('3385.29')),
 ('S022', 'Maintenance', Decimal('4812.80')),
 ('S023', 'Maintenance', Decimal('1938.00')),
 ('S026', 'Maintenance', Decimal('1981.93')),
 ('S027', 'Maintenance', Decimal('1283.22')),
 ('S029', 'Maintenance', Decimal('4632.58')),
 ('S032', 'Maintenance', Decimal('2711.40')),
 ('S032', 'Maintenance', Decimal('4689.52')),
 ('S033', 'Maintenance', Decimal('3921.84')),
 ('S035', 'Maintenance', Decimal('4024.11')),
 ('S036', 'Maintenance', Decimal('575.74')),
 ('S037', 'Maintenance', Decimal('1990.33')),
 ('S041', 'Maintenance', Decimal('2063.74')),
 ('S044', 'Maintenance', Decimal('2786.19')),
 ('S046', 'Maintenance', Decimal('2848.18')),
 ('S047', 'Maintenance', Decimal('2110.40')),
 ('S048', 'Maintenance', Decimal('3662.43')),
 ('S049', 'Maintenance', Decimal('581.14')),
 ('S049', 'Maintenance', Decimal('4296.52')),
 ('S057', 'Maintenance', Decimal('3055.16')),
 ('S058', 'Maintenance', Decimal('4959.90')),
 ('S059', 'Maintenance', Decimal('727.34')),
 ('S059', 'Maintenance', Decimal('3086.43')),
 ('S061', 'Maintenance', Decimal('948.20')),
 ('S061', 'Maintenance', Decimal('2613.85')),
 ('S063', 'Maintenance', Decimal('965.59')),
 ('S064', 'Maintenance', Decimal('4009.86')),
 ('S065', 'Maintenance', Decimal('583.36')),
 ('S068', 'Maintenance', Decimal('1610.66')),
 ('S068', 'Maintenance', Decimal('2843.49')),
 ('S071', 'Maintenance', Decimal('4141.21')),
 ('S072', 'Maintenance', Decimal('929.12')),
 ('S074', 'Maintenance', Decimal('518.51'))]